@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&family=Sacramento&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    caret-color: transparent;
}
#welcome-screen{
    background: url("assets/Background.jpg")rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.welcome{
    max-width: fit-content;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: -2vw;
}
#welcome-section{
    max-width: 70%;
    margin: auto; 
    height: 100vh;   
}
h1{
    font-size: 6vw;
    font-family: 'Sacramento', cursive;
    color: white;
    text-shadow: -2px -1px 0 #ff0000, 2px -1px 0 #ff0000, -2px 1px 0 #ff0000, 2px 1px 0 #ff0000;    
}
.Introduction{
    background-color: rgba(250,250,250,0.6);
    padding: 2vw 3vw;
    box-shadow: -2px -1px grey;
    border-radius: 10px;
    max-width: 85%;
    margin: 10px auto;
}
.Introduction p{
    text-align: center;
    color: rgb(95, 5, 95);
    font-weight: 600;
}
#entrance{
    color: white;
    font-size: 3vw;
}
img{
    width: 30vw;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.7s ease-in;
    cursor: pointer;
}
img.loaded{
    opacity: 1;
}
.welcome-img{
    margin: auto;
    max-width: fit-content;
}
img:hover{
    transform: scale(1.05);
}
.animate{
    transform: translateY(-100vh);
    transition: transform 0.8s ease-in;
}
.instructions-list{
    max-width: 50%;
    margin: auto;
    margin-top: 2vw;
    font-size: 1.5vw;
    background-color: rgba(128, 0, 70, 0.6);
    color: white;
    padding: 4vw;
    border: white 3px solid;
    border-radius: 10px;

}
.button{
    max-width: fit-content;
    margin: auto;
    margin-top: 2vw;
}
#play{
    padding: 1vw 2vw;
    background-color: rgba(224, 42, 142, 0.6);
    border-radius: 10px;
    border: 3px solid white;
    font-size: 2vw;
}
#play:hover{
    cursor: pointer;
}
#instructions-screen{
    height: 100vh;
}
.done{
    display: none;
}
button a{
    text-decoration: none;
    color: white;
}

@media (orientation: portrait){
    .welcome h1{
        font-size: 10vw;
    }
    .Introduction p{
        font-size: 4vw;
        margin: 2vw;
    }
    .Introduction{
        margin-top: 10vw;
    }
    .welcome-img img{
        width: 70vw;
        margin-bottom: 10vw;
    }
    
}
